body { 
font-family: Oswald;
background-color: #FE938C;
}

#section2 h1 {
	font-size: 50px;
}

#nav {
	float: left;
	text-align: center;
}

ul {
  list-style-type: none;
  float:left;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

li {
	float: left;
	text-align: center;
	display: inline;
	text-decoration: none;
	list-style-type: none;
}

#nav {
  display: table;
  table-layout: fixed;
  text-align: center;
}
#nav li {
  display: table-cell;
  padding-right: 1px;
  height: auto;
  vertical-align: top;
}
#nav a {
  display: block;
  min-height: 100%;
  padding: 4px 10px;
  background-color: #222;
  color: white;
  border-radius: 6px 6px 0 0;
}

#section2 h1, #section3 h1, #section4 h1 {
	text-align: center;
}

#section2, #section3, #section4, #footer {
	clear: both;
}

#section3 {
	text-align: center;
}

#section3images {
	border-style: solid;
	border-width: 2px;
	border-left: transparent;
	border-right: transparent;
}

#footer {
	background-color: white;
	text-align: center;
}

#coverimage img{
	padding:1px;
	border:1px solid #021a40;
   background-color:#ff0;
}

#img_cont {
  display: table;
  width: 90%;
  margin: 20px auto;
}

#img_cont a {
  display: table-cell;
  text-align: center;
  width: 16%;
}

#img_cont img {
  width: 100%;
  max-width: 250px;
}

#values_words h3 {
text-decoration: underline;
font-wight: bold;
}

